<ion-view id="page_cotizar">
  <ion-content>
    <div class="col responsive-sm col-80 col-offset-10">
      <form id="userLogin">
                      
        <div class="list">
            <div class="card">
                <div class="item item-text-wrap" >
                    <div class="form-item list col-50 col-offset-25">
          <div style="margin: 0px; line-height: 150px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
          </div>
          <button class="button button-balanced col" ng-model="data.avtar">20 Ton</button>
        </div>
                    
                </div>
                
            </div>  
            
            
         
          
          
          <button class="button button-block button-calm button-round  " >ACEPTAR OFERTA</button>
          <button class="button button-block button-assertive button-round">RECHAZAR OFERTA</button>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/transportador-cotizar-a">Cotizar A</a>
           <a class="button icon icon-right ion-chevron-right" href="#/tab/transportador-cotizar-cliente">Cotizar B</a>
        </div>
       
      </form>
    </div>
  </ion-content>
</ion-view>

