


<ion-tabs class = "tabs-icon-top tabs-background-positive tabs-color-light tab-item-active ">
        <ion-tab   icon-off="cotizar" icon-on="cotizar"  title="Cotizar" href="#/tab/transportador-cotizar-a">
            <ion-nav-view name="cotizar_a"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-off="activa" icon-on="activa" title="Activa" href="#/tab/mis_cargas_a">
            <ion-nav-view name="mis_cargas_a"></ion-nav-view>
                
        </ion-tab>
        <ion-tab icon-off="finalizada" icon-on="finalizada" title="Finalizadas" href="#/tab/finalizadas">
                 <ion-nav-view name="finalizadas"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-off="noticias" icon-on="noticias" title="Noticias" href="#/tab/noticias">
            <ion-nav-view name="tab-noticias"></ion-nav-view>
        </ion-tab>
        <ion-tab icon-off="perfil" icon-on="perfil"  title="Perfil" href="#/perfil">
               
        </ion-tab>
    
    
    
        <ion-tab hidden="true">
            <ion-nav-view name="chat" overflow-scroll="true"></ion-nav-view>
        </ion-tab> 
         <ion-tab hidden="true">
            <ion-nav-view name="mis_cargas_b" overflow-scroll="true"></ion-nav-view>
        </ion-tab>  
          <ion-tab hidden="true">
            <ion-nav-view name="perfil_empresa" overflow-scroll="true"></ion-nav-view>
        </ion-tab>            
        <ion-tab hidden="true">
            <ion-nav-view name="cotizar_empresa" overflow-scroll="true"></ion-nav-view>
        </ion-tab>      
        <ion-tab hidden="true">
            <ion-nav-view name="editar_empresas" overflow-scroll="true"></ion-nav-view>
        </ion-tab>
        <ion-tab hidden="true">
            <ion-nav-view name="editar_perfil" overflow-scroll="true"></ion-nav-view>
        </ion-tab>
    
</ion-tabs> 

