<ion-view style="" class=" " id="register_user" title="Registro de Usuario">
  <ion-nav-bar class="bar bar-header bar-light">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header" padding="true" ng-controller="UserRegisterCtrl">
    <div class="col responsive-sm col-80 col-offset-10">
      <form class="list " id="userRegister">
        <section id="driver-data">
          <div class="form-item list">
            <label class="item item-input">
              <input placeholder="Nombre" type="text" class="form-field" ng-model="datos.name">
            </label>
          </div>
          <div class="form-item list">
            <label class="item item-input">
              <input placeholder="Correo" type="email" class="form-field" ng-model="datos.email">
            </label>
          </div>
          <div class="form-item list">
            <label class="item item-input">
              <input placeholder="Contraseña" type="password" class="form-field" ng-model="datos.password">
            </label>
          </div>
          <div class="form-item list">
            <label class="item item-input">
              <input placeholder="Confirmar Contraseña" type="password" class="form-field" ng-model="datos.password_repeat">
            </label>
          </div>
          <div class="form-item list">
            <label class="item item-input">
              <input placeholder="Telefono Móvil" type="tel" class="form-field" ng-model="datos.phone">
            </label>
          </div>

          <div class="col-lg-6  col-12">
              <label class="btn btn-block btn-primary">
                Subi Foto&hellip;  <input type="file" uploader-model="datos.avatar" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
              </label>
              <span id="span-img-route"></span>
              <span ng-bind="datos.user_avatar.name">
                    0 Archivos
              </span> 

          </div>
          
        </section>
        <section id="reference-data">
          <section id="vehicle-reference">
            <div class="form-item list">
              <label class="item item-input">
                <select class="form-field col" ng-model="datos.vehicletype">
                  <option value="none" disabled selected >Tipo de Vehículo.</option>
                  <option value="camion">Camion</option>
                </select>
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Capacidad max. de carga" type="text" class="form-field" ng-model="datos.vehicle_bodywork">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Placa" type="text" class="form-field" ng-model="datos.vehicle_licenceplate">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Marca" type="text" class="form-field" ng-model="datos.vehicle_brand">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Modelo" type="text" class="form-field" ng-model="datos.vehicle_model">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Color" type="text" class="form-field" ng-model="datos.vehicle_color">
              </label>
            </div>
          </section>
          <section id="business-reference">
            <div class="list bar bar-header">
              <h2 class="title">REFERENCIA COMERCIAL</h2>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Nombre Ref. 1" type="text" class="form-field" ng-model="datos.reference_comertial_name">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <textarea placeholder="Dirección" class="form-field" ng-model="datos.reference_comertial_address"></textarea>
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Teléfono" type="tel" class="form-field" ng-model="datos.reference_comertial_phone">
              </label>
            </div>
          </section>
          <section id="personal-reference">
            <div class="list bar bar-header">
              <h2 class="title">REFERENCIA PERSONAL</h2>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Nombre Ref. 1" type="text" class="form-field" ng-model="datos.reference_personal1_name">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <textarea placeholder="Dirección" class="form-field" ng-model="datos.reference_personal1_address"></textarea>
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Teléfono" type="tel" class="form-field" ng-model="datos.reference_personal1_phone">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Nombre Ref. 2" type="text" class="form-field" ng-model="datos.reference_personal2_name">
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <textarea placeholder="Dirección" class="form-field" ng-model="datos.reference_personal2_address"></textarea>
              </label>
            </div>
            <div class="form-item list">
              <label class="item item-input">
                <input placeholder="Teléfono" type="tel" class="form-field" ng-model="datos.reference_personal2_phone">
              </label>
            </div>
          </section>
           <section id="personal-reference">
              <div class="list bar bar-header">
              <h2 class="title">LICENCIAS</h2>
            </div>

            <div class="col-lg-6 col-sm-6 col-12">
              <!-- <label class="btn btn-block btn-primary">
                  Cédula -CARA 1-&hellip; <input type="file" uploader-model="datos.cedula1" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
              </label>
              <span ng-bind="datos.cedula1.name"></span> -->

              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Cédula -CARA 1-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" ng-controller="camaraCtrl" 
                  class="upload" 
                  ng-model="datos.cedula1"
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()" />
              </div>
              <center>
                <span ng-repeat="image in datos.cedula1" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
              <!-- <br /> -->
                <!-- <button class="button button-block button-assertive boton_redondo"
                  ng-click="datos.cedula1 = null" ng-show="!!datos.cedula1">Remover  {{datos.images.length}}  imagen</button> -->
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Cédula -CARA 2-&hellip; <input type="file" uploader-model="datos.cedula2" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.cedula2.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Cédula -CARA 2-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" ng-controller="camaraCtrl" 
                  ng-model="datos.cedula2"
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()"/>
              </div>
              <center>
                <span ng-repeat="image in datos.cedula2" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
              <br />
                <!-- <button class="button button-block button-assertive boton_redondo"
                  ng-click="datos.cedula2 = null" ng-show="!!datos.cedula2">Remover  {{datos.images.length}}  imagen</button> -->
            </div>          
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Tarjeta de propiedad -CARA 1-&hellip; <input type="file" uploader-model="datos.tarj_prop1" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.tarj_prop1.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Tarjeta de propiedad -CARA 1-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.tarj_prop1" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()"/>
              </div>
              <center>
                <span ng-repeat="image in datos.tarj_prop1" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
              <!-- <br />
                <button class="button button-block button-assertive boton_redondo"
                  ng-click="datos.tarj_prop1 = null" ng-show="!!datos.tarj_prop1">Remover {{datos.images.length}} imagen</button> -->
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Tarjeta de propiedad -CARA 2-&hellip; <input type="file" uploader-model="datos.tarj_prop2" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.tarj_prop2.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Tarjeta de propiedad -CARA 2-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.tarj_prop2" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()" />
              </div>
              <center>
                <span ng-repeat="image in datos.tarj_prop2" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Licencia de conducción -CARA 1-&hellip; <input type="file" uploader-model="datos.licencia1" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.licencia1.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Licencia de conducción -CARA 1-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.licencia1" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()" />
              </div>
              <center>
                <span ng-repeat="image in datos.licencia1" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Licencia de conducción -CARA 2-&hellip; <input type="file" uploader-model="datos.licencia2" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.licencia2.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Licencia de conducción -CARA 2-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.licencia2" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()"/>
              </div>
              <center>
                <span ng-repeat="image in datos.licencia2" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Revision Tecnicomecanica -CARA 1-&hellip; <input type="file" uploader-model="datos.revision1" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.revision1.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Tarjeta de propiedad -CARA 2-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.revision1" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()" />
              </div>
              <center>
                <span ng-repeat="image in datos.revision1" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Revision Tecnicomecanica -CARA 2-&hellip; <input type="file" uploader-model="datos.revision2" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.revision2.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Revision Tecnicomecanica -CARA 2-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.revision2" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()"/>
              </div>
              <center>
                <span ng-repeat="image in datos.revision2" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    SOAT -CARA 1-&hellip; <input type="file" uploader-model="datos.soat1" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.soat1.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>SOAT -CARA 1-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.soat1" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()" />
              </div>
              <center>
                <span ng-repeat="image in datos.soat1" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    SOAT -CARA 2-&hellip; <input type="file" uploader-model="datos.soat2" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.soat2.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>SOAT -CARA 2-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.soat2" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()"/>
              </div>
              <center>
                <span ng-repeat="image in datos.soat2" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Tarjeta empresa -CARA 1-&hellip; <input type="file" uploader-model="datos.tarjetas1" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.tarjetas1.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Tarjeta empresa -CARA 1-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.tarjetas1" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()"/>
              </div>
              <center>
                <span ng-repeat="image in datos.tarjetas1" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>
            <br>
            <div class="col-lg-6 col-sm-6 col-12">
                <!-- <label class="btn btn-block btn-primary">
                    Tarjeta empresa -CARA 2-&hellip; <input type="file" uploader-model="datos.tarjetas2" style="display: none;" ng-controller="camaraCtrl" ng-click="choosePhoto()">
                </label>
                <span ng-bind="datos.tarjetas2.name"></span> -->
              <div class="fileUpload button button-block button-calm boton_redondo">
                <span>Tarjeta empresa -CARA 2-&hellip;</span>
                <i class="icon ion-ios-arrow-thin-up"></i>
                <input 
                  type="file" 
                  class="upload" 
                  ng-model="datos.tarjetas2" ng-controller="camaraCtrl" 
                  accept='image/*' multiple app-filereader on-touch="ChoosePhotp()"/>
              </div>
              <center>
                <span ng-repeat="image in datos.tarjetas2" 
                  style=" padding: 1px">
                  <img ng-src="{{image}}" 
                    style="width: 50px; height:50px; border-radius: 7px;" />
                </span>
              </center>
            </div>


            </section>

          <section id="op-buttons">
            <button ng-click="register()" class="button button-positive  button-block button-round" id="userRegister-button1">Registrarme</button>
          </sections>
        </form>
    </div>
  </ion-content>
</ion-view>
