
<ion-view style="" class=" " id="dashboard-1" title="COTIZAR CARGAS">
  <ion-nav-bar class="bar bar-header dashboard-2">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
 <ion-nav-title>
        <span style="color:DarkTurquoise">COTIZAR CARGAS</span>
     </ion-nav-title>

  <ion-content class="has-header" padding="true" >
    <div class="col responsive-sm col-80 col-offset-10">
      <!-- START CONTENT -->
      
       <div class="card" ng-repeat="cotizar in datos">    

        <div class="item item-text-wrap">
          <div class="row">
          
            <div class="form-item list col-50 ">
          <div style="margin: 0px; line-height: 50px; background-color: rgb(232, 235, 239); text-align: center;">
            <img src="http://micargapp.com/web/{{cotizar.company_avatar}}" class="full-image">
          </div>
          <button ng-click="empresa($index)"  class="button button-balanced col" ng-bind="cotizar.peso"></button>
        </div>
              <div class="col col-50">
              <div class="row">
                <div class="col">
                  <b><span class="positive" ng-bind="cotizar.company_name">Cliente</span></b>
                  <br><br>
                  <span class="gray-text">Origen:</span>
              
                    <br>
                  <span class="positive" ng-bind="cotizar.origen"></span>
                  <br>
                  <span class="gray-text">Destino:</span>   
                    <br>        
                  <span class="positive" ng-bind="cotizar.destino"></span>
                  <br>
                  <span class="gray-text" >Fecha:</span>
                    <br>
                  <span class="positive" ng-bind="cotizar.fecha"></span>
                   <p class="navbar-text-blue stable"><b>Empresa transportadora</b></p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="card" ng-repeat="cotizar in datos2">       
        <div class="item item-text-wrap">
          <div class="row">
          
            <div class="form-item list col-50 ">
          <div style="margin: 0px; line-height: 50px; background-color: rgb(232, 235, 239); text-align: center;">
            <img src="http://micargapp.com/web/{{cotizar.company_avatar}}" class="full-image">
          </div>
          <button ng-click="empresa2($index)"  class="button button-balanced col" ng-bind="cotizar.peso"></button>
        </div>
              <div class="col col-50">
              <div class="row">
                <div class="col">
                  <b><span class="positive" ng-bind="cotizar.company_name">Cliente</span></b>
                  <br><br>
                  <span class="gray-text">Origen:</span>
                    <br>
                  <span class="positive" ng-bind="cotizar.origen"></span>
                  <br>
                  <span class="gray-text">Destino:</span>   
                    <br>        
                  <span class="positive" ng-bind="cotizar.destino"></span>
                  <br>
                  <span class="gray-text" >Fecha:</span>
                    <br>
                  <span class="positive" ng-bind="cotizar.fecha"></span>
                   <p class="navbar-text-blue stable"><b>Empresa transportadora</b></p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
      <!-- ng-show="!events.length" 
      <center>
        <img src="img/antena.png" />
        <br>No hay cargas que coincidan con tu vehiculo!<br>
        <span style="color: rgb(241, 96, 96);">No te desesperes</span>
        <br><span>Te notificaremos ta pronto se solicite algún tipo de 
        carga que te pueda interesar</span>
      </center>
      -->
      <!-- END CONTENT -->
  </ion-content>
</ion-view>
