
<ion-view style="" class=" " id="">

  <ion-content class="has-header" padding="true">
    <center>
    <div class="col responsive-sm col-80 col-offset-10">
      <h3 class="positive">COTIZAR CARGAS</h3>
      <!-- START CONTENT -->
      <div class="card">
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">
              <center class="afiliada">
                <img src="img/icon_user.png" align="center" />
              </center>
            </div>
            <div class="col col-50">
              <div class="row">
                <div class="col">
                  <b><span class="positive">Nombre Cliente</span></b>
                  <br><br>
                  <span class="gray-text">Ciudad Origen:</span>
                  <br>
                  <span class="positive">Bogota, Colombia</span>
                  <br>
                  <span class="gray-text">Ciudad Destino:</span>
                  <br>
                  <span class="positive">Barranquilla, Colombia</span>
                  <br>
                  <span class="gray-text">Fecha:</span>
                  <br>
                  <span class="positive">11/05/2015</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-50">
                <p class="navbar-text-green"><b>10 ton</b></p>
            </div>
            <div class="col col-50">
              <p class="navbar-text-blue stable"><b>Usuario cliente</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <span class="gray-text">Tipo:</span><br>
                <span class="positive">Arena comprimida</span>
                <br><br>
                <span class="gray-text">Comentarios:</span><br>
                <span class="positive">Debe mantenerse humeda durante el transporte para no 
                generar pérdida del material.</span>
            </div>
            
          </div>
        </div>
      </div>
      
      <h5 id="op_recuperepass">Enviar cotización por el Transporte de la carga</h5>
      <form id="generalFrom">
        <div class="col list form-item">
          <label class="item item-input">
            <input type="text"  class="form-field"
             placeholder="Valor en COP">
          </label>
          <span class="calm">No incluir puntos ni comas</span>
        </div>
      </form>

      <button class="button button-block button-calm button-round" ng-click="">ACEPTAR OFERTA</button>
      <!-- END CONTENT -->
    </div>
    </center>
  </ion-content>
</ion-view>