<ion-view style="" class=" " id="dashboard-1" >
  <ion-nav-bar class="bar bar-header dashboard-2">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
    <ion-nav-title>
    <span style="color:DarkTurquoise">EDITAR PERFIL</span>
  </ion-nav-title>
  <ion-content class="has-header" padding="true">
      
    <div class="col responsive-sm col-80 col-offset-10" ng-controller="EditPerfilCtrl">
      
      <form class="list " id="userRegister" name="registro">
        <div class="form-item list">
          <label class="item item-input">
            <input name="name" placeholder="Nombre" type="text" class="form-field" ng-model="datos.user_name" ng-model-options="{ updateOn: 'blur' }" required >
          </label>
          <span class="messages" ng-show="registro.$submitted || registro.name.$touched">
        <span ng-show="registro.name.$error.required">El campo es obligatorio.</span>
       </span>
        </div>
        <div class="form-item list">
          <label class="item item-input">
            <input placeholder="Correo" type="email" class="form-field" ng-model="data.email">
          </label>
        </div>
        <div class="form-item list">
          <label class="item item-input">
            <input placeholder="Telefono Móvil" type="tel" class="form-field" ng-model="datos.user_phone">
          </label>
        </div>
        <div class="form-item list">
          <label class="item item-input">
            <input placeholder="Telefono Fijo" type="tel" class="form-field" ng-model="data.phone">
          </label>
        </div>
        <div class="form-item list">
          <label class="item item-input">
            <textarea placeholder="Dirección" class="form-field" ng-model="data.direccion"></textarea>
          </label>
        </div>
        <div class="form-item list col-50 ">
          <div style="margin: 0px; line-height: 150px; background-color: rgb(232, 235, 239); text-align: center;">
            <img src="http://micargapp.com/web{{datos.user_avatar}}" width="100" height="100">
          </div>
          <button class="button button-balanced col" ng-model="data.avtar">Cambiar Foto</button>
        </div>
        <button class="button button-positive  button-block button-round" id="userRegister-button1" ng-click="register(data)">Editar</button>
      </form>
    </div>
 
  </ion-content>
</ion-view>
