
<ion-view style="" class="" id="dashboard-2" title="COTIZAR CARGAS">
  <ion-nav-bar class="bar bar-header bar-light">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header" padding="true">
    <div class="col responsive-sm col-80 col-offset-10">
      <!-- START CONTENT -->
        <h3 class="positive">PERFIL DE EMPRESA</h3>
        <div class="row">
            <div class="col col-50">
              <center class="afiliada">
                <img src="img/icon_user.png" align="center" />
              </center>
            </div>
            <div class="col col-50">
              <div class="row">
                <div class="col">
                  <center>
	                <b><span class="balanced">Transportadora ABC</span></b>
	                <br><br>
	                <button class="button button-calm" >AÑADIR</button>
	                <br><br>
	                <b><span class="positive">Calificación:</span></b><br>
	                <icon class="icon ion-star energized"></icon>
	          		<icon class="icon ion-star dark"></icon>
	          	  </center>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <b><span class="positive">Reseña:</span></b><br>
              <span class="positive">
              	Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
              </span>
            </div>
          </div>
      <!-- END CONTENT -->
    </div>
  </ion-content>
</ion-view>
cot