
<ion-view style="" class=" " id="dashboard-1">

 <ion-nav-bar class="bar bar-header dashboard-2">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
    <span style="color:DarkTurquoise">CLIENTE</span>
  </ion-nav-title>
  <ion-content class="has-header" padding="true">
    <div class="col responsive-sm col-80 col-offset-10">
      <div class="list card">
        <div class="item item-body" style="padding-left: 11%;">
          <div class="row">
             <div class="col-50 col-center">
              <div style="margin: 0px; line-height: 100px; background-color: rgb(232, 235, 239); text-align: center;">
                <img src="img/icon_user.png" style="max-width: 140px;" class="full-image">
              </div>
            </div>
            <div class="col col-50">
              <b><span class="positive">Nombre Cliente</span></b>
              <br>
              <span class="gray-text">Confirmado</span>
                <br>
            <h3 id="op_recuperepass">COP $ 98.000.000</h3>
              <br>    
              <span class="positive">jagr_752@hotmail.com</span>
                <br>   <br>   
              
               <button ui-sref="tab.mis_cargas_b" class="button button-balanced col" ng-model="data.avtar">FInalizar carga</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
                 <span class="gray-text">Ciudad Origen:</span>
                    <br>
                  <span class="positive">Bogota, Colombia</span>
                  <br>
                  <span class="gray-text">Destino Ciudad:</span>    
                    <br>       
                  <span class="positive">Barranquilla, Colombia</span>
                  <br>
                  <span class="gray-text">Tipo:</span>
                    <br>
                  <span class="positive">Arena comprimida</span>
                   <br>
                   <span class="gray-text">Peso:</span>
                    <br>
                  <span class="positive">14 ton</span>
                   <br>
                  <span class="gray-text">Fecha:</span>
                    <br>
                  <span class="positive">11/05/2015</span>
            </div>
            
          </div>
            <div class="row">
            <div class="col col-33">
                
                  <div class="form-item list  ">
          <div style="line-height: 100px; background-color: rgb(148, 123, 226);text-align: center;">
            <img ui-sref="tab.chat" src="img/icon_Chat.png" width="50" height="50">          
          </div>

        </div>
            </div>
             <div class="col col-33">
                
                  <div class="form-item list  ">
          <div style=" line-height: 100px; background-color: rgb(255, 209, 125);text-align: center;">
            <img src="img/icon_llamar.png" width="50" height="50">
          </div>
        </div>
            </div>
             <div class="col col-33">
                
                  <div class="form-item list  ">
          <div style=" line-height: 100px; background-color: rgb(239, 122, 224);text-align: center;">
            <img src="img/icon_ruta.png" width="50" height="50">
          </div>
        </div>
            </div>

            
          </div>
          <div class="row">
        
  <button ui-sref="tab.mis_cargas_b" class="button button-calm col" ng-model="data.avtar">Enviar localizacion actual</button>
            
          </div>
         
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
