
<ion-view style="" class="" id="dashboard-1" >

<ion-nav-bar class="bar bar-header dashboard-2">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
        <span style="color:DarkTurquoise">NOTICIAS</span>
     </ion-nav-title>
  <ion-content class="has-header" padding="true" ng-controller="NoticiasCtrl">
    <div class="text-center" ng-if="!loading">
      <center>
        <img src="img/antena.png" />
        <br>No hay cargas que coincidan con tu vehiculo!<br>
        <span style="color: rgb(241, 96, 96);">No te desesperes</span>
        <br><span>Te notificaremos ta pronto se solicite algún tipo de 
        carga que te pueda interesar</span>
      </center>
    </div>
    <div ng-if="loading">
      <div class="col responsive-sm col-80 col-offset-10" >                
        <!-- START CONTENT -->
        <div class="list card" ng-repeat="noticias in datos">          
          <div class="item item-body" style="">
            <div class="row">
              <div class="form-item list col">
                  <div style="margin: 0px;  background-color: rgb(232, 235, 239); text-align: center;">
                    <center>
                      <img src="http://micargapp.com/web{{noticias.new_image}}" class="full-image" >
                    </center>
                  </div>
              </div>
            </div>         
            <div class="row">
              <div class="col">                                   
                  <span class="positive" ng-bind="noticias.new_title"></span><br>
                  <span class="text-pink" ng-bind="noticias.new_date | date : format : timezone"></span>
                  <br><br>
                  <span class="gray-text" ng-bind="noticias.new_message"></span><br>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>