
<ion-view style="" class="" id="dashboard-1" >

<ion-nav-bar class="bar bar-header dashboard-2">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
        <span style="color:DarkTurquoise">NOTICIAS</span>
     </ion-nav-title>
  <ion-content class="has-header" padding="true">
  
    <div class="col responsive-sm col-80 col-offset-10" ng-controller="NoticiasCtrl">
  
          
      <!-- START CONTENT -->
      <div class="card" ng-repeat="noticias in datos">
        
        <div class="item item-text-wrap">
          <div class="row">
          
             
              <div class="form-item list col-50 ">
          <div style="margin: 0px; line-height: 100px; background-color: rgb(232, 235, 239); text-align: center;">
            <img src="http://micargapp.com/web{{noticias.new_image}}" width="100" height="100">
           
          </div>
         
        </div>
             
    
      
          </div>
       
          <div class="row">
            <div class="col">
                <span class="gray-text" ng-bind="noticias.new_title"></span><br>
                <span class="positive" ng-bind="noticias.new_date"></span>
                <br><br>
                <span class="gray-text" ng-bind="noticias.new_message"></span><br>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
    
  </ion-content>
</ion-view>