
<ion-view style="" class=" " id="" >
  <ion-content class="has-header" padding="true">
    <div class="col col-80 col-offset-10" >
      <!-- START CONTENT -->
        <div class="row">
          <div class="col text-center" >
            <img src="img/Logo_Mi_Cargapp.png" width="70%" height="70%"> 
          </div>
        </div>
        <div class="row row-center">
          <div class="col col-50 text-center ">
            <center>
              <a ui-sref="tab.editar_perfil">
                <div class="back-blue circle col-center">
                  <div class="circle">
                    <img src="img/icon_perfil.png" width="40%" class="circle-content" >
                  </div>
                </div>
                <span class="text-circle">Editar Perfil</span>
              </a>
            </center>
          </div>
          <div class="col col-50 text-center">
            <center>
              <a ui-sref="tab.editar_empresas">
                
                <div class="back-blue circle col-center">
                  <div class="circle">
                    <img src="img/icon-empresas.png" width="50%" class="circle-content2">
                    </div>
                </div>
                <span class="text-circle">Empresas</span>
              </a>
            </center>
          </div>
    
        </div>
        <div class="row">
      
          <div class="col col-60 col-center col-offset-20 text-center">
            <center>
              <a href="#">
                <div class="back-pink circle col-center">
                    <img src="img/icon_cerrar_sesion.png" width="40%" 
                    class="circle-content">
                </div>
                <span class="text-circle">Cerrar Seción</span>
              </a>
              </center>
            </div>

        </div>
     
    </div>
  </ion-content>
</ion-view>