
<ion-view style="" class=" " id="dashboard-1">

 <ion-nav-bar class="bar bar-header dashboard-2">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
    <span style="color:DarkTurquoise">PERFIL DE EMPRESA</span>
  </ion-nav-title>
  <ion-content class="has-header" padding="true">
    <div class="col responsive-sm col-80 col-offset-10">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="row">
             <div class="form-item list col-50 ">
          <div style="margin: 0px; line-height: 100px; background-color: rgb(232, 235, 239); text-align: center;">
            <img src="img/icon_user.png" width="100" height="100">
          </div>
        </div>
            <div class="col col-50">
              <div class="row">
                <div class="col">
                  <b><h2 id="op_recuperepass">transportadora abc</h2></b>
                  <br>
                   <button class="button button-calm" >AÑADIR</button>
                    <br>
                  <span class="gray-text">Calificacion:</span>    
                    <br>       
                  <icon class="icon ion-star energized"></icon>
          <icon class="icon ion-star dark"></icon>
                </div>
              </div>
              
            </div>
          </div>
            <div class="row">
                  <div class="col">
              
                <span class="gray-text">Reseña:</span><br>
                <span class="positive">Debe mantenerse humeda durante el transporte para no 
                generar pérdida del material.</span>
            </div>
            
          </div>
         
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
