
<ion-view style="" class=" " id="" title="COTIZAR CARGAS">
  <ion-nav-bar class="bar bar-header dashboard-2">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header" padding="true">
    <div class="col col-80 col-offset-10" >
      <!-- START CONTENT -->
        <div class="row">
          <div class="col text-center" >
            <img src="img/Logo_Mi_Cargapp.png" width="70%" height="70%"> 
          </div>
        </div>
        <div class="row row-center">
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="tab.cotizar_a">
                <div class="back-blue circle col-center">
                  <div class="circle">
                    <img src="img/icon_cotizar.png" width="40%" class="circle-content" >
                  </div>
                </div>
                <span class="text-circle">Cotizar</span>
              </a>
            </center>
          </div>
          <div class="col col-33 text-center">
            <center>
              <a ui-sref="tab.mis_cargas_a">
                <div class="notice-tag">2</div>
                <div class="back-blue circle col-center">
                  <div class="circle">
                    <img src="img/icon_carga_activa.png" width="40%" class="circle-content2">
                    </div>
                </div>
                <span class="text-circle">Activas</span>
              </a>
            </center>
          </div>
          <div class="col col-33 text-center">
            <center>
              <a ui-sref="tab.cotizar_cliente">
                <div class="back-blue circle col-center">
                <div class="circle">
                  <img src="img/icon_carga_finalizada.png" width="40%"
                  class="circle-content">
                </div>
                </div>
                <span class="text-circle">Finalizadas</span>
              </a>
            </center>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 col-center col-offset-20 text-center">
            <center>
              <a ui-sref="tab.noticias">
                <div class="back-blue circle col-center">
                    <img src="img/icon_noticias.png" width="40%" 
                    class="circle-content">
                </div>
                <span class="text-circle">Noticias</span>
              </a>
              </center>
            </div>
          <div class="col col-33 text-center">
            <center>
              <a ui-sref="perfil">
                <div class="back-blue circle col-center">
                    <img src="img/icon_perfil.png" width="40%" 
                    class="circle-content">
                </div>
                <span class="text-circle">Editar Perfil</span>
              </a>
              </center>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="list card col">

            <div class="item item-body button-pink">
              <a href="#"><div class="notice-wonder"> &nbsp;?</div></a>
              <center>
                <span style="color: #FFF; font-size: 100%"><b>
                  Valor a Pagar - Via Baloto
                </b></span><br>
                <span style="color: #FFF; font-size: 71%">
                  Paguese lo antes posible para evitar suspensiones</span>
              </center>
            </div>
            <div class="row">
              <div class="col col-50" style="background-color: #DCDCDC;">
                <center>
                  <span class="text-blue">Referencia<br>
                  <b>11000223331</b>
                  </span>
                </center>
              </div>
              <div class="col col-50">
                <center>
                  <span class="text-blue">Valor a pagar<br>
                  <b>25.000COP</b>
                  </span>
                </center>
              </div>
            </div>  
          </div>
        </div>
      <!-- END CONTENT -->
    </div>
  </ion-content>
</ion-view>