/* Empty. Add your own CSS if you like */
body{background-image:url("../img/Bg-Patron.jpg")}
  

#Notieneunacuenta {
  color: #009689;
}

#Registrese {
  color: #FF0099;
}

#Inputs {
  color: #003300;
}

#Recuperarpass {
  color: #FFFF00;
}

